
body{
    
    font-family:Sans-serif; 
    margin:0;
    padding: 0;
}
*{
    box-sizing: border-box;
}
.symbol {
  text-align: center;
 
}
.fa-solid ,.fa-gift{
   margin-left: 40px;
   margin-top: 40px;
   font-size: 25px;
   color: white;
   opacity: 0.9;



}
h2{
    margin-left: 18px;
    color:white;
    opacity: 0.8;
}
nav ul, a{
    list-style-type:none;
    text-decoration: none;
    transition: color 0.2s ease;  
    padding:10px;
    text-align: center; 
    text-align: left; 
    display: block;       

}

.navbar a{
   color: white;
   display: inline-block;   
}
.navbar a:hover{
    background-color: skyblue;
    color:grey;
    border-radius:10px;
}


.sidepage{
    background-color:rgb(56, 195, 250);
    width: 20%;
    height: 115vh;
    float: left;
    justify-content: center;
    background-position: center;

    /* display:flex; */
    /* position: absolute;  */
    
    
}
.cupimg{
background-image:url("images/food1.avif" );
width:80%;
height: 300px;
float: left;
background-repeat: no-repeat;
background-size: cover;
}
.welcome{
    position: relative;
    margin-left:0px;
    top: 20px;
    color: rgb(84, 202, 202);
}
.sent{
    font-size: smaller;
    margin-top: 3%;
  
}
.hero{
    position: relative;
    margin-left:25%;


}
.abtteam{
background-image:url("images/crispy-bakery-with-various-sauces_140725-2902.jpg" );
background-size: cover;
height: 25vh;
width:15%;
display: inline-block;

}
.abthead{
    display: inline-block;
    position: relative;
    float:left;
    margin:-10px;
    margin-left: 18%;
    color: #43b6b6;
    

}
.abtsent{
    /* display: inline-block; */
    /* vertical-align: top; */
    /* width:100%; */
    margin-top: -15%;
    margin-left:180px;
    font-size: smaller;

}
.button{
    width:100px ;
    height: 40px;
    background-color: #43b6b6;
    color: white;
}
.button:hover{
    background-color: skyblue;
    color:grey;
    border-radius:10px;
}
.gal{
    /* float:left; */
    margin-top: 10%;
    margin-left:-180px;
    font-size: medium;
    color: #43b6b6;

}

.gallery{
    /* margin-bottom: 10%; */
    display: flex;
    flex-direction: row;
    gap: 2%;
}
.pic1{
    background-image: url("images/Library.jpg");
    height: 120px;
    width:50%;
    background-size: cover;
}
.pic2{
    background-image: url("images/OFFICE.jpg");
    height: 120px;
    width:50%;
    background-size: cover;
}
.pic3{
    background-image: url("images/CUPIMG.jpeg");
    height: 120px;
    width:50%;
    background-size: cover;
}
.pic4{
    background-image: url("images/PLATE.jpeg");
    height: 120px;
    width:50%;
    background-size: cover;
}
.pic5{
    background-image: url("images/PLATE2.jpeg");
    height: 120px;
    width:50%;
    background-size: cover;
}





